body {
  background: white;
}

.container {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
  background: lightgrey; // TODO : 작업 색상 구분용 추후 변경 필요
  height: 720px; // TODO : 작업용 크기 추후 변경 필요

  .content {
    margin: 0 20px;
  }
}


input {
  border: none;
  width: 20em;
  height: 2em;
  margin-bottom: 2em;
  align-items: center;

.logo-contianer {
  flex: 3 1 auto;
}

.logo {
  text-align: center;
}

.signin-container {
  flex: 1 1 auto;
  text-align: center;
}

.email-container {
  margin: 1em;
}

.password-container {
  margin: 1em;
}

.social-container {
  flex: 1 1 auto;
}

.signup-info-container {
  flex: 1 1 auto;
}
