* {
  box-sizing: border-box;
}

body {
  background: white;
}

img {
  display: flex;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  //height: 100%;
  max-width: 375px; // width: 375px;
  margin-left: auto;
  margin-right: auto;
  background: lightgrey; // TODO : 작업 색상 구분용 추후 변경 필요
  height: 800px; // TODO : 작업용 크기 추후 변경 필요
  //   .content {
  //   margin: 0 20px;
  // }

  .floating-button{
    position:fixed;
    width:40px;
    height:40px;
    bottom:40px;
    margin-left: 310px;
    background-color:#964b00;
    color:#FFF;
    border-radius:50px;
    box-shadow: 1.5px 1px 2px #999;
    padding-top: 6px;
  }
}

input {
  display: flex;
  border: none;
  width: 20em;
  height: 2em;
  margin: 2em 3em;
  align-items: center;
}

.intro {
  text-align: center;

  .title {
    margin : 2em 3em;
  }
  .today-question {
    margin : 2em 3em;
  }
}

// 일단 하나만 쓸 예정이라서 modal로 했음
.modal {
  display: none;
  position:relative;
  width:100%;
  height:100%;
  z-index:1;
  p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  button {
     display:inline-block;
     width:50px;
     margin-left:calc(100% - 100px - 10px);
   }
  .modal_content {
    width:300px;
    margin:100px auto;
    padding:20px 10px;
    background:#fff;
    border:2px solid #666;
    text-align: center;
  }

  .modal_layer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.5);
    z-index:-1;
  }
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 12px;
}

:link {
  display: flex;
  text-decoration: none;
}
