@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&family=Noto+Serif+KR:wght@200&family=PT+Serif&display=swap');

* {
  box-sizing: border-box;
  &::before,
  &::after {
    box-sizing: border-box;
  }
  padding: 0;
  margin: 0;
}

body {
  font-family: 'PT Serif', serif;
  background-color: #a58a6e;
  background-size: cover;
  position: relative;
}

// #search-icon { transition: font-size 0.3s; }
//  #search-icon:hover { font-size: 17px; }

.container {
  display: flex;
  flex-direction: column;
  max-width: 900px;
  min-width: 375px;
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url('../image/paper_texture.png');
  background-repeat: repeat;
  align-items: center;
  cursor: pointer;

  img {
    display: flex;
    flex: 3 3 auto;
    margin: 5em;
    margin-left: 2em;
  }

  form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: 2em;
    margin-bottom: -3em;

    .error-box {
      text-align: center;
      margin-top: 1em;
      font-style: italic;
    }

    input {
      width: 25em;
      height: 4em;
      margin: 1em;
      font-size: 15px;
      border: none;
      text-align: center;
      box-shadow: 2px 5px 10px -3px #f3d1b7;
    }

    input::placeholder {
      color: #b1a394;
      font-style: italic;
      font-size: 16px;
    }

    input:focus {
      outline: 2px solid #ffddbc;
    }

    button {
      color: hsl(222, 25%, 14%);
      border: none;
      background-color: #ffddbc;
      box-shadow: 2px 5px 10px -3px #f3c0b748;
      text-align: center;
      font-size: 15px;
      width: 25em;
      height: 4em;
      margin: 3em 1em;
    }

    button:focus {
      outline: 0;
    }

    button:hover {
      animation: swingHorizontal 1s ease;
      animation-iteration-count: 1;
    }

    @keyframes swingHorizontal {
      15% {
        transform: translateX(5px);
      }
      30% {
        transform: translateX(-5px);
      }
      50% {
        transform: translateX(3px);
      }
      65% {
        transform: translateX(-3px);
      }
      80% {
        transform: translateX(2px);
      }
      100% {
        transform: translateX(0);
      }
    }
  }

  hr {
    border: none;
    border-top: 1px solid #ffcccc;
    background-color: #ffffff00;
    height: 0.5px;
    width: 70%;
    margin-bottom: 3em;
  }

  .social-container {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .social-signin {
      font-size: 16px;
      width: 24em;
      height: 3em;
      border: none;
      margin-bottom: 2em;
      background-color: #ffffff00;

      span {
        text-align: center;
      }
    }
    .signup-info-container:focus {
      outline: 0;
    }

    .signup-info-container {
      border: none;
      font-size: 15px;
      width: 25.8em;
      height: 4em;
      border: solid 3;
      cursor: text;
      background-color: #ffffff00;

      .social-signin:focus {
        outline: 0;
      }

      a {
        text-decoration: none;
        font: 16px bold;
        color: #f76d6a;
        margin-left: 2em;
      }
      .blinking {
        animation: blink 1.5s ease-in-out infinite alternate;
      }

      @keyframes blink {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  }
}
